<table class="menu">
  <tr>
    <th class="counter">
      Cpt
    </th>
  </tr>
  <tr class="empty">
  </tr>
  <tr class="timer">
    <th>
      00:00
    </th>
  </tr>
</table>
<table class='gameTable'></table>
