<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>{{ title }}</title>
</head>
<body>
  <header>
  </header>
  <main>
    <table>
      <tbody>
        <tr>
          <th>
            Games :
          </th>
          <td>
            thisisgamenb1
          </td>
        </tr>
      </tbody>
    </table>
    <div id='gamediv'>
      {{{ body }}}
    </div>
  </main>
</body>
</html>
