<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>{{ title }}</title>
</head>
<body>
  <header>
  </header>
  <main>
    <table id='gamesbar'><tbody><tr>
          <th>Games :</th>
          <td>thisisgamenb1</td>
    </tr></tbody></table>
    <div id='gamediv'>
      {{{ body }}}
    </div>
    <table id='highscores'><tbody><tr>
          <th>Highscores</th>
          <td>I) me</td>
    </tbody></tr></table>
  </main>
</body>
</html>
