.gameTable {
  background-color: black;
}

.cell {
  background-color: grey;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.rules {
  display: inline-block;
  background-color: grey;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-color: black;
  border-width: 50px;
}

.visible {
  background: lightgrey;
}

#theOne {
  background-color: MediumVioletRed;
}

#loose {
  background-color: Maroon;
}

#win {
  background-color: green;
}

#flag {
  color: FireBrick;
}

#mark {
  color: DarkOrange;
}

table.menu{
  display: flex;
  width: 60px;
  background-color: black;
}

.counter{
  color: red;
  font-weight: bold;
}

.timer{
  color: blue;
  font-weight: bold;
}

.menu .empty{
  display: flex;
  height: 80%;
}
