.gamedivD {
  background-color: black;

}
#theOne {
  background-color: Crimson;
}

.cell {
  background-color: grey;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

#visible {
  background: lightgrey;
}

#bomb {
  background-color: Firebrick;
}

#loose {
  background-color: Maroon;
}

#win {
  background-color: green;
}

#flag {
  background-color: yellow;
}
#questionMark {
  background-color: brown;
}
