.gameTable {
  background-color: black;
}

.cell {
  background-color: grey;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.rules {
  display: inline-block;
  background-color: grey;
  width: 15px;
  height: 15px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.items {
  display: inline-block;
  width: 17px;
  height: 17px;
}

.visible {
  background: lightgrey;
}

#bomb {
  background-color: MediumVioletRed;
}

#loose {
  background-color: Maroon;
}

#win {
  background-color: green;
}

#mark {
  color: DarkOrange;
}

div.menu {
  display: flex;
  flex-direction: column;
  width: 60px;
  background-color: black;
  height: 100%;
}

.counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: red;
  height: 50%;
  margin-top: 5px;
}

.timer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: blue;
  height: 50%;
  margin-bottom: 5px;
}
