#game2048 {
  background-color: #6e6e6e;
  border-radius: 10px;
  padding: 10px;
}

#game2048 .cell {
  background-color: lightgrey;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  margin: 10px;
}

#game2048 .empty {
  background-color: #a0a0a0;
}
