[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Cliquez ici pour écouter ce son
Type=Link
URL=https://lasonotheque.org/images/pause_100x100.png
Icon=text-html
